.App {
  text-align: center;
}

html,body {
    height: 100%;
}


.vh-full {
    height: calc(100vh - 112px);
}

.rel-highlight {
    background-color: #c0ffc8;
}

span.scan-term {
    background-color: #fff36d;
}
